/* Copyright 2020 BlueCat Networks (USA) Inc. and its affiliates. All Rights Reserved. */
/* Custom styles for your page go in here. */

* {
    background-color: aqua;
    color: aquamarine;
    font-family: 'Courier New', Courier, monospace;
}