{# Copyright 2020 BlueCat Networks (USA) Inc. and its affiliates. All Rights Reserved. #}
{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="css/display_fruit_page.css?version={{ g.version | urlencode }}">
{% endblock %}

{% block title %}
{{ text['title'] }}
{% endblock %}

{% block heading %}
{{ text['title'] }}
{% endblock %}

{% block custom %}

    <p>{{ text['info'] }}</p>
    <!--Your page's HTML goes here.-->
    <p>!!! THIS IS THE CARROT WORKFLOW !!!</p>
    {% from "form_helper.html" import render_form %}
    {{ render_form(form, action=url_for('display_fruitdisplay_fruit_display_fruit_page_form'), id="display_fruit_page_form") }}

{% endblock %}

{% block scripts %}
<script src="js/display_fruit_page.js?version={{ g.version | urlencode }}"></script>
{% endblock %}
